:root {
    --dark: #050a30;
    --light: #f4f6fc;
}

html {
    background: var(--dark);
}

body {
    font-family: 'Space Mono', monospace;
    margin: 0 auto;
    height: 100vh;
    color: var(--light);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    color: blue;
}

h1 {
    font-size: xxx-large;
    padding: 0;
    color: var(--dark);
    margin: 0 0 0 1rem;
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer {
    margin-top: 5rem;
}

.intro-section {
    width: calc(600px + 1rem);
}

.intro-section p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;
}

.who-am-i-section {
    width: calc(600px + 1rem);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h3 {
    font-size: medium;
}

.profile-image {
    width: max-content;
    height: max-content;
}

.profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    opacity: 0.85;
}

.who-am-i {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.who-am-i-section p {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.case-studies-section p {
    width: calc(600px + 1rem);
    padding: 0;
    margin: 0;
}

.case-study-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.case-study-thumbnail img {
    width: 300px;
}

@media screen and (min-width: 671px) {
    html {
        background: radial-gradient(circle, var(--dark) 30%, var(--light) 100%);
    }
}

@media screen and (max-width: 670px) {
    .case-study-list {
        flex-direction: column;
    }

    h1 {
        font-size: xx-large;
        padding: 0;
        color: var(--light);
        margin: auto;
        width: max-content;
    }

    h2 {
        font-size: medium;
    }

    h3 {
        font-size: small;
    }

    p {
        font-size: small;
    }

    .intro-section {
        width: 300px;
    }

    .who-am-i-section {
        width: 300px;
    }

    .who-am-i {
        flex-direction: column;
    }

    body {
        color: var(--light);
    }

    a {
        color: var(--light);
    }

    .case-study-thumbnail img {
        border: 1px solid var(--light);
    }
}

@media screen and (max-width: 550px) {
    .contacts {
        flex-direction: column;
        gap: 1rem;
    }

    footer {
        padding-bottom: 1rem;
    }
}
